/* Variables */

$color-company: #fed136;
$color-font-light: #fff;
$color-background-darkening: #000;
$color-background-second: #f7f7f7;
$color-background-light: #fff;
$font-header: 'Montserrat', sans-serif;
$font-logo: 'Great Vibes', cursive;
$font-regular: 'Roboto Slab', serif;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;    
}

body {
    font-size: 18px;
    margin: auto;
    text-align: center;
    font-family: $font-regular;

    .container {
        max-width: 940px;
        margin: auto;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.section-title {
    margin-bottom: 80px;

    h2 {
        font-size: 40px;
        text-transform: uppercase;
        margin-top: 0;
        font-family: $font-header;
    }
}

section {
    padding: 120px 0;
}

/* Navigation */

.navigation {
    color: $color-font-light;
    display: flex;
    position: relative;
    
    .logo-box {
        margin-top: 40px;
        display: flex;
        align-items: center;
        flex: 3 1 auto;
        margin-left: 10%;
        
        .logo {
            padding: 5px;
            font-size: 40px;
            color: $color-company;
            font-family: $font-logo;
        }
    }
    
    .navigation-list {
        margin-top: 40px;
        flex: 1 1 auto;
        margin-right: 10%;
    }
    
    ul {
        display: flex;
        flex-direction: row;  
        justify-content: space-around;
        flex-wrap: wrap;
        text-transform: uppercase;
        
        li {
            list-style-type: none;
            padding: 5px;
            
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

/* Splash */

.splash {
    background-image: url('https://i.postimg.cc/s2F5jVSw-/Background-Image.png');
    position: relative;
    background-size: cover;
    height: 100vh;
    margin: auto;
    background-position: center;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $color-background-darkening;
        opacity: 55%;
    }
    
    .splash-inner {
        position: absolute; 
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $color-font-light;
        text-align: center;

        p {
            font-size: 40px;
        }
        
        h1 {          
            font-size: 75px;
        }
        
        button {
            background: $color-company;
            border: 1px solid $color-company;
            width: 240px;
            height: 65px;
            border-radius: 5px;
            font-size: 18px;
            color: $color-font-light;
            text-transform: uppercase;
        }
    }
}

/* Services */

.services .box {
    flex: 1 1 33.333%;
    
    .box-text {
        padding: 15px;

        h3 {
            font-family: $font-header;
        }
    }

    .box-icon {

        i {
            font-size: 40px;
            color: $color-company;
            padding : 35px;
            border-radius: 50%;
            border: 3px solid $color-company;
        }

        .lock {
            padding: 35px 40px;
        }

        .laptop {
            padding: 35px 30px;
        }
    }
}

/* Our porfolio */

.our-portfolio {
    background: $color-background-second;

    .box {
        margin: 0 17px 50px;
        flex: 0 1 29%;
        background: $color-background-light;

        .box-picture img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            min-width: 250px;
            max-width: 300px;
        }
    }

    .box-text h3 {
        font-family: $font-header;
    }
}

/* footer */

.footer {

    .box-text {
        margin: 40px 0;
        width: 33.33%;

        .text {
            font-size: 12px;
        }
    }

    .box-icon {
        margin: 40px auto;
        width: 60%;
        text-align: left;

        i {
            color: $color-font-light;
            font-size: 18px;
            padding: 12px;
            background: $color-background-darkening;
            border-radius: 50%;
            margin: 0 10px;
        }

        .fb-pt {
            padding: 12px 15px;
        }

        .google {
            padding: 12px 10px;
        }
    }
}

@media (max-width: 767px) {

    .wrapper {
        flex-direction: column;
    }
    
    .splash {

        .navigation-list {
        
            li {
                font-size: 16px;
            }
        }

        .splash-inner {

            p {
                font-size: 25px;
            }

            h1 {
                font-size: 40px;
            }

            .btn {
                width: 200px;
                height: 50px;
            }
        }

        .logo {
            font-size: 30px;
        }
    }

    .our-portfolio .wrapper {
        flex-direction: row;
    }

    .footer {

        .box-text {
            width: unset;
        }

        .box-icon {
            width : unset;
        }
    }
}

@media (max-width: 560px) {

    .our-portfolio .box .box-picture img {
        min-width: 350px;
    }
}

@media (max-width: 370px) {

    .our-portfolio .box .box-picture img {
        min-width: 250px;
    }
}